
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display:grid;
    justify-content:center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*Button*/
.delete {
    background-color:orangered;
    height: 20px;
    width: 60px;
    border-radius: 10px;
}
.edit 
{
    background-color:lightskyblue;
    height:20px;
    width:60px;
    border-radius:10px;
}
