
.h2 {
    padding-bottom: 20px;
    margin-top: 20px;
}

.logform {
    display: grid;
    border: 2px solid #f1f1f1;
    border-radius: 12px;
    width: 30%;
    height: 60%;
    margin-top: 150px;
}

 input[type=password] {
    padding: 10px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border-radius: 8px;
    width: 40%;
    height: 30px;
    border-color: black;
    margin-left:10%;
    outline: none;

}


label {
    display: grid;
    width: 180px;
    line-height: 35px;
    color: black;
}

button {
    background-color: cornflowerblue;
    color: black;
    border-radius: 30px;
    padding: 14px 20px;
    margin: 11px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    height:40px;
}

button:hover {
        background-color:dodgerblue;
    }